* {
  box-sizing: border-box;
}

header {
  height: 115px;
  width: 100%;
  background-color: #003c55;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.header-title {
  font-size: 48px;
  color: white;
}

.ddroid-logo {
  position: absolute;
  left: 30px;
  width: 200px;
}
.heading {
  color: #003c55;
  font-size: 20px;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
}

.main-content {
  width: 70%;
  height: 100%;
  background-color: #f4f5f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: azure;
}

form {
  width: 60%;
  height: fit-content;
}

.contact-form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
}

.input-box label {
  color: #003c55;
  font-weight: 600;
}

.main-content .required {
  color: red;
}
.input-box input {
  width: 394px;
  height: 24px;
  border: 1px solid #003c55;
  box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 3px;
}
.address-box input {
  width: 816px;
  height: 24px;
}
.address-box label {
  color: #003c55;
  font-weight: 600;
}

.api {
  display: flex;
  justify-content: space-between;
}

.api-items {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.api-items label {
  margin-bottom: 5px;
  color: #003c55;
  font-weight: 600;
}
.api select {
  width: 233px;
  height: 24px;
}

.submit {
  display: flex;
  justify-content: space-between;
}
.join {
  width: 239px;
  height: 47px;
  box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  background: #FCD400;
  border: none;
  margin-top: 50px;
}
.errors {
    color: #F00;
    font-size: 14px;
}
footer {
  background-color: #707070;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.cookie {
  margin: 10px;
}
.h-footer {
  color: #fff;
  font-family: Open Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}
